{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
<form>
<!-- First Month -->


<li>Jour&nbsp;&nbsp;&nbsp;
  <select name ='first_input_month'>
  <option value="01">01</option>
  <option value="01">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  </select> 
</li> 
<li>Mois&nbsp;&nbsp;&nbsp;

 
  <select name ='first_input_month'>
  <option value="01">01</option>
  <option value="01">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  </select>
</li>
<li>Annee  
<select name ='first_input_month'>
  <option value="01">01</option>
  <option value="01">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  </select> 
 </li>

<!-- First Month -->
